{% extends 'base.html' %}

{% block title %}Transakcje - {{ selected_category }}{% endblock %}

{% block header_title %}Transakcje dla kategorii {{ selected_category }}{% endblock %}

{% block content %}
    <div class="mt-1">
        <a href="{% url 'all-user-transactions' %}" class="btn btn-outline-dark btn-sm">Wróć do wszystkich transakcji</a>
    </div>
<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark fw-bold">
                <tr>
                    <th>Data</th>
                    <th>Kwota</th>
                    <th>Opis</th>
                    <th>Kategoria</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_date|date:"d.m.Y" }}</td>
                    <td>
                        {% if transaction.income %}
                            {{ transaction.income|floatformat:2 }} zł
                        {% elif transaction.expense %}
                            -{{ transaction.expense|floatformat:2 }} zł
                        {% endif %}
                    </td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.category}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Brak transakcji dla wybranej kategorii,
                        <a href="{% url 'all-user-transactions' %}">pokaż wszystkie.</a></td>
                </tr>
                {% endfor %}
                {% if transactions %}
                <tr class="table-secondary fw-bold">
                    <td colspan="1">Suma:</td>
                    <td class="{% if total_balance >= 0 %}text-success{% else %}text-danger{% endif %}">
                        {{ total_balance|floatformat:2 }} zł
                    </td>
                    <td colspan="2"></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

<div class="mt-4">
    <h6>Filtruj według innej kategorii</h6>
    <div class="d-flex flex-wrap gap-2 mt-3">
        {% if categories %}
            {% for category in categories %}
            <a href="{% url 'filtered-transactions' %}?category={{ category|urlencode }}"
               class="badge badge-light {% if category == selected_category %}bg-dark{% else %}bg-secondary{% endif %} fs-8 pb-1 text-decoration-none">
                {{ category|escape }}
            </a>
            {% endfor %}
        {% else %}
            <p class="text-muted">Brak dostępnych kategorii do filtrowania.</p>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}